@page "/"

<PageTitle>Happy birthday!</PageTitle>

<style>
    body{
        background-color: #EDDDB9;
    }
</style>
<img src="/Images/severn-valley-railway-1.jpg" style="width:100%;" />
<p style="text-align:center;font-size:larger;"><em>Special delivery</em></p>
<h2 style="text-align:center;font-family:'Old English Text MT';">Dear Daddy, Clive, Grandpa etc</h2>

<h1 style="text-align:center;font-family:'Old English Text MT';">Happy birthday!</h1>

<h2 style="text-align:center;font-family:'Old English Text MT';">There is of course a present and a card awaiting you when you get home, but this is the best I can do remotely.</h2>

<h3 style="text-align:center;font-family:'Old English Text MT';">Love, Guy, Rowena and the mob</h3>

